<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>blog</title>
	<link rel="stylesheet" href="/style/index.css">
</head>
<body>
<header class="header">
	<img class="user-avatar" src="/images/avatar.svg" alt="">
	<p class="user-name">zhangsan</p>
	<div class="operate-box">
		<div class="operate-show">
			<span class="opreate-line"></span>
			<span class="opreate-line"></span>
			<span class="opreate-line"></span>
		</div>
		<a href="javascript:;" class="operate-btn"></a>
		<ul class="operate-list">
			<li class="operate-item"><a href="/signin" class="btn-signin">登录</a></li>
			<li class="operate-item"><a href="/signup" class="btn-signup">注册</a></li>
			<li class="operate-item"><a href="/posts" class="btn-post">发表文章</a></li>
			<li class="operate-item"><a href="/signout" class="btn-signout">退出</a></li>
		</ul>
	</div>
</header>